<% if @pokemon %>
<div data-controller="battle">
  <span style="display: none;" data-battle-target="pokemonId">
    <%= @pokemon["pokemon_id"] %>
  </span>

  <div>
    <%= image_tag("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/#{@pokemon["pokemon_id"]}.png", alt: "Pokemon Image") %>
    <p>
      <b>Name: </b> <span data-battle-target="pokemonName"><%= @pokemon["pokemon_name"] %></span>
    </p>
    <p>
      <b>Type: </b> <span data-battle-target="pokemonElement"><%= @pokemon["pokemon_type"] %></span>
    </p>
  </div>
  

  <h1>Pokemon Health: <span data-battle-target="health">100</span></h1>

  <button data-battle-target="attack" data-action="click->battle#attack">
    Attack
  </button>
  |
  <button data-battle-target="throwPokeball" data-action="click->battle#throw_a_pokeball">
    Throw a Pokeball
  </button>

  <turbo-frame data-battle-target="pokemonCapturesFrame">
    <%= @captured %>
  </turbo-frame>
</div>
<% end %>